* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0px;
}

header {
  display: flex;
  align-items: center;
}

header span {
  font-size: 50px;
  margin-right: 20px;
}

#score-container {
  margin: 10px 0px;
}

#controls {
  margin: 10px 0px;
}

#controls button {
  background: red;
  color: #eeeeee;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

#controls input {
  padding: 10px;
  border: 2px solid red;
  width: 100px;
}

#aim-trainer {
  width: 80%;
  height: 80%;
  border: 2px solid red;
  position: relative;
  background: #efefef;
}

.target {
  border-radius: 50%;
  background: red;
  position: absolute;
  cursor: pointer;
}
